<p id="notice"><%= notice %></p>

<div class="title">
  <h1>The Diner</h1>
</div>

<div class="items">
<% @dishes.each_slice(3) do |row| %>
<% row.each do |dish| %>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= link_to dish.name, edit_dish_path(dish.id)%><br>
      <%= dish.description %><br>
      <p>$<%= number_with_precision(dish.price, precision: 2) %></p><br>
      <%= dish.course_id %><br>
      <%= link_to 'Show', edit_dish_path(dish.id) %><br>
      <%= link_to 'Destroy', dish, method: :delete, data: { confirm: 'Are you sure?' } %><br>
    </div><br>
  <% end %>
  </div>
<% end %>
</div>
<hr>
</div>

<br>

<%= link_to 'New Appetizer', new_dish_path(:course_id => Course.find_by(name: "Appetizer").id) %>
<%= link_to 'New Salad', new_dish_path(:course_id => Course.find_by(name: "Salad").id) %>
<%= link_to 'New Entree', new_dish_path(:course_id => Course.find_by(name: "Entree").id) %>
<%= link_to 'New Dessert', new_dish_path(:course_id => Course.find_by(name: "Dessert").id) %>
